body {
	font-size: 24px;
}
h1 {
	text-align: center;
	margin-bottom: 40px;
}
.center {
	text-align: center;
}
.outline {
	outline: 1px solid #bbb;
	background: #ddd;
	padding: 10px;
}
.outline:hover {
	background:#ccc;
}
.space-20px {
	margin-top: 20px;
}
.page-height {
	height: 100vh;
}
